.ansible-banner {
  background: $light-pool;
  margin-top: 1.2rem;
  .ansible-banner-text {
    display: flex;
    justify-content: center;
    text-align: center;
    color: $black;
    padding-top: 1.2rem;
    line-height: 2.2rem;
    a {
      color: $cyan;
    }
  }
}
