.btn {
    background-color: $white;
    color: $black;
    border: 0px;
    cursor: pointer;
    font-size: medium;
    font-family: $redhat-display;
    font-weight: normal;
    text-align: left;
    text-decoration: underline;
    &:hover {
        background-color: $white;
        color: $black !important;
    }
}
