.page-title {
  font-weight: normal;
  text-align: left;
  margin-top: 1.2rem;
  line-height: 1.9rem;
  p {
    font-size: 1.45rem;
    margin: 0 0 1.9rem;
  }
  .feedback {
    font-size: 1rem;
  }
}
