@import "colors";
@import "fonts";
@import "button";
@import "ansible-banner";
@import "docbar";
@import "nav";
@import "page-title";
@import "page-logo";
@import "grid";
@import "quicklinks";

body {
  background: $white;
  color: $black;
  font-weight: normal;
  font-family: $redhat-text;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
h1 {
  font-family: $redhat-display;
  font-size: 2.5rem;
  text-transform: none;
}
h2 {
  font-family: $redhat-display;
  font-size: 2.25rem;
  text-transform: none;
}
h3 {
  font-family: $redhat-display;
  text-transform: none;
}
h4 {
  font-family: $redhat-display;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  text-transform: none;
}
h5 {
  font-family: $redhat-display;
  text-transform: none;
}
h6 {
  font-family: $redhat-display;
}

.full-width-bg {
  margin: 0 -13rem;
  padding: 0 13rem;
  @media screen and (max-width: 1170px) {
    margin: 0 -6rem;
    padding: 0 6rem;
  }
  @media screen and (max-width: 768px) {
    margin: 0 -2rem;
    padding: 0 2rem;
  }
}

.component {
  padding-top: 4rem;
  padding-bottom: 6rem;

  &-slim {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
