RewriteEngine On

# Redirect old ansible documentation into new sub-directory
RedirectMatch permanent "^/((?!index)[^/]+)\.html$" "/ansible/$1.html"

# Redirect developer docs to new dir
RedirectMatch permanent "^/ansible/(developing_[^/]+)\.html$" "/ansible/latest/dev_guide/$1.html"
RedirectMatch permanent "^/ansible/developing.html$" "/ansible/dev_guide/index.html"
RedirectMatch permanent "^/ansible/dev_guide(\/)?$" "/ansible/latest/dev_guide/index.html"
RedirectMatch permanent "^/ansible/(?!latest|devel|\d\.+)(.+)?.html$" "/ansible/latest/$1.html"

# Redirects for renamed module reference directory
RedirectMatch permanent "^/ansible/devel/module_docs/?(.+)?$" "/ansible/devel/modules/$1"

# Redirects for refactored Ansible core docs

# CLI

RedirectMatch permanent "^/ansible/devel/ansible.html$" "/ansible/devel/cli/ansible.html"
RedirectMatch permanent "^/ansible/devel/ansible-vault.html$" "/ansible/devel/cli/ansible-vault.html"
RedirectMatch permanent "^/ansible/devel/ansible-pull.html$" "/ansible/devel/cli/ansible-pull.html"
RedirectMatch permanent "^/ansible/devel/ansible-playbook.html$" "/ansible/devel/cli/ansible-playbook.html"
RedirectMatch permanent "^/ansible/devel/ansible-inventory.html$" "/ansible/devel/cli/ansible-inventory.html"
RedirectMatch permanent "^/ansible/devel/ansible-galaxy.html$" "/ansible/devel/cli/ansible-galaxy.html"
RedirectMatch permanent "^/ansible/devel/ansible-doc.html$" "/ansible/devel/cli/ansible-doc.html"
RedirectMatch permanent "^/ansible/devel/ansible-console.html$" "/ansible/devel/cli/ansible-console.html"
RedirectMatch permanent "^/ansible/devel/ansible-config.html$" "/ansible/devel/cli/ansible-config.html"

# User Guide

RedirectMatch permanent "^/ansible/devel/become.html$" "/ansible/devel/user_guide/become.html"
RedirectMatch permanent "^/ansible/devel/command_line_tools.html$" "/ansible/devel/user_guide/command_line_tools.html"
RedirectMatch permanent "^/ansible/devel/index.html$" "/ansible/devel/user_guide/index.html"
RedirectMatch permanent "^/ansible/devel/intro_adhoc.html$" "/ansible/devel/user_guide/intro_adhoc.html"
RedirectMatch permanent "^/ansible/devel/intro_bsd.html$" "/ansible/devel/user_guide/intro_bsd.html"
RedirectMatch permanent "^/ansible/devel/intro_dynamic_inventory.html$" "/ansible/devel/user_guide/intro_dynamic_inventory.html"
RedirectMatch permanent "^/ansible/devel/intro_getting_started.html$" "/ansible/devel/user_guide/intro_getting_started.html"
RedirectMatch permanent "^/ansible/devel/intro_inventory.html$" "/ansible/devel/user_guide/intro_inventory.html"
RedirectMatch permanent "^/ansible/devel/intro_patterns.html$" "/ansible/devel/user_guide/intro_patterns.html"
RedirectMatch permanent "^/ansible/devel/intro_windows.html$" "/ansible/devel/user_guide/intro_windows.html"
RedirectMatch permanent "^/ansible/devel/intro.html$" "/ansible/devel/user_guide/intro.html"
RedirectMatch permanent "^/ansible/devel/modules_intro.html$" "/ansible/devel/user_guide/modules_intro.html"
RedirectMatch permanent "^/ansible/devel/modules_support.html$" "/ansible/devel/user_guide/modules_support.html"
RedirectMatch permanent "^/ansible/devel/playbook_pathing.html$" "/ansible/devel/user_guide/playbook_pathing.html"
RedirectMatch permanent "^/ansible/devel/playbooks_advanced_syntax.html$" "/ansible/devel/user_guide/playbooks_advanced_syntax.html"
RedirectMatch permanent "^/ansible/devel/playbooks_async.html$" "/ansible/devel/user_guide/playbooks_async.html"
RedirectMatch permanent "^/ansible/devel/playbooks_best_practices.html$" "/ansible/devel/user_guide/playbooks_best_practices.html"
RedirectMatch permanent "^/ansible/devel/playbooks_blocks.html$" "/ansible/devel/user_guide/playbooks_blocks.html"
RedirectMatch permanent "^/ansible/devel/playbooks_checkmode.html$" "/ansible/devel/user_guide/playbooks_checkmode.html"
RedirectMatch permanent "^/ansible/devel/playbooks_conditionals.html$" "/ansible/devel/user_guide/playbooks_conditionals.html"
RedirectMatch permanent "^/ansible/devel/playbooks_debugger.html$" "/ansible/devel/user_guide/playbooks_debugger.html"
RedirectMatch permanent "^/ansible/devel/playbooks_delegation.html$" "/ansible/devel/user_guide/playbooks_delegation.html"
RedirectMatch permanent "^/ansible/devel/playbooks_environment.html$" "/ansible/devel/user_guide/playbooks_environment.html"
RedirectMatch permanent "^/ansible/devel/playbooks_error_handling.html$" "/ansible/devel/user_guide/playbooks_error_handling.html"
RedirectMatch permanent "^/ansible/devel/playbooks_filters_ipaddr.html$" "/ansible/devel/user_guide/playbooks_filters_ipaddr.html"
RedirectMatch permanent "^/ansible/devel/playbooks_filters.html$" "/ansible/devel/user_guide/playbooks_filters.html"
RedirectMatch permanent "^/ansible/devel/playbooks_intro.html$" "/ansible/devel/user_guide/playbooks_intro.html"
RedirectMatch permanent "^/ansible/devel/playbooks_lookups.html$" "/ansible/devel/user_guide/playbooks_lookups.html"
RedirectMatch permanent "^/ansible/devel/playbooks_loops.html$" "/ansible/devel/user_guide/playbooks_loops.html"
RedirectMatch permanent "^/ansible/devel/playbooks_prompts.html$" "/ansible/devel/user_guide/playbooks_prompts.html"
RedirectMatch permanent "^/ansible/devel/playbooks_python_version.html$" "/ansible/devel/user_guide/playbooks_python_version.html"
RedirectMatch permanent "^/ansible/devel/playbooks_reuse_includes.html$" "/ansible/devel/user_guide/playbooks_reuse_includes.html"
RedirectMatch permanent "^/ansible/devel/playbooks_reuse_roles.html$" "/ansible/devel/user_guide/playbooks_reuse_roles.html"
RedirectMatch permanent "^/ansible/devel/playbooks_reuse.html$" "/ansible/devel/user_guide/playbooks_reuse.html"
RedirectMatch permanent "^/ansible/devel/playbooks_roles.html$" "/ansible/devel/user_guide/playbooks_roles.html"
RedirectMatch permanent "^/ansible/devel/playbooks_special_topics.html$" "/ansible/devel/user_guide/playbooks_special_topics.html"
RedirectMatch permanent "^/ansible/devel/playbooks_startnstep.html$" "/ansible/devel/user_guide/playbooks_startnstep.html"
RedirectMatch permanent "^/ansible/devel/playbooks_strategies.html$" "/ansible/devel/user_guide/playbooks_strategies.html"
RedirectMatch permanent "^/ansible/devel/playbooks_tags.html$" "/ansible/devel/user_guide/playbooks_tags.html"
RedirectMatch permanent "^/ansible/devel/playbooks_templating.html$" "/ansible/devel/user_guide/playbooks_templating.html"
RedirectMatch permanent "^/ansible/devel/playbooks_tests.html$" "/ansible/devel/user_guide/playbooks_tests.html"
RedirectMatch permanent "^/ansible/devel/playbooks_variables.html$" "/ansible/devel/user_guide/playbooks_variables.html"
RedirectMatch permanent "^/ansible/devel/playbooks_vault.html$" "/ansible/devel/user_guide/playbooks_vault.html"
RedirectMatch permanent "^/ansible/devel/playbooks.html$" "/ansible/devel/user_guide/playbooks.html"
RedirectMatch permanent "^/ansible/devel/plugin_filtering_config.html$" "/ansible/devel/user_guide/plugin_filtering_config.html"
RedirectMatch permanent "^/ansible/devel/quickstart.html$" "/ansible/devel/user_guide/quickstart.html"
RedirectMatch permanent "^/ansible/devel/vault.html$" "/ansible/devel/user_guide/vault.html"
RedirectMatch permanent "^/ansible/devel/windows_dsc.html$" "/ansible/devel/user_guide/windows_dsc.html"
RedirectMatch permanent "^/ansible/devel/windows_faq.html$" "/ansible/devel/user_guide/windows_faq.html"
RedirectMatch permanent "^/ansible/devel/windows_setup.html$" "/ansible/devel/user_guide/windows_setup.html"
RedirectMatch permanent "^/ansible/devel/windows_usage.html$" "/ansible/devel/user_guide/windows_usage.html"
RedirectMatch permanent "^/ansible/devel/windows_winrm.html$" "/ansible/devel/user_guide/windows_winrm.html"
RedirectMatch permanent "^/ansible/devel/windows.html$" "/ansible/devel/user_guide/windows.html"


# Installation Guide

RedirectMatch permanent "^/ansible/devel/intro_configuration.html$" "/ansible/devel/installation_guide/intro_configuration.html"
RedirectMatch permanent "^/ansible/devel/intro_installation.html$" "/ansible/devel/installation_guide/intro_installation.html"


# Module list landing topics

RedirectMatch permanent "^/ansible/devel/network_maintained.html$" "/ansible/devel/modules/network_maintained.html"
RedirectMatch permanent "^/ansible/devel/partner_maintained.html$" "/ansible/devel/modules/partner_maintained.html"
RedirectMatch permanent "^/ansible/devel/community_maintained.html$" "/ansible/devel/modules/community_maintained.html"
RedirectMatch permanent "^/ansible/devel/core_maintained.html$" "/ansible/devel/modules/core_maintained.html"
RedirectMatch permanent "^/ansible/devel/list_of_windows_modules.html$" "/ansible/devel/modules/list_of_windows_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_web_infrastructure_modules.html$" "/ansible/devel/modules/list_of_web_infrastructure_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_utilities_modules.html$" "/ansible/devel/modules/list_of_utilities_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_system_modules.html$" "/ansible/devel/modules/list_of_system_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_storage_modules.html$" "/ansible/devel/modules/list_of_storage_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_source_control_modules.html$" "/ansible/devel/modules/list_of_source_control_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_remote_management_modules.html$" "/ansible/devel/modules/list_of_remote_management_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_packaging_modules.html$" "/ansible/devel/modules/list_of_packaging_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_notification_modules.html$" "/ansible/devel/modules/list_of_notification_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_network_modules.html$" "/ansible/devel/modules/list_of_network_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_net_tools_modules.html$" "/ansible/devel/modules/list_of_net_tools_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_monitoring_modules.html$" "/ansible/devel/modules/list_of_monitoring_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_messaging_modules.html$" "/ansible/devel/modules/list_of_messaging_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_inventory_modules.html$" "/ansible/devel/modules/list_of_inventory_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_identity_modules.html$" "/ansible/devel/modules/list_of_identity_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_files_modules.html$" "/ansible/devel/modules/list_of_files_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_database_modules.html$" "/ansible/devel/modules/list_of_database_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_crypto_modules.html$" "/ansible/devel/modules/list_of_crypto_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_commands_modules.html$" "/ansible/devel/modules/list_of_commands_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_clustering_modules.html$" "/ansible/devel/modules/list_of_clustering_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_cloud_modules.html$" "/ansible/devel/modules/list_of_cloud_modules.html"
RedirectMatch permanent "^/ansible/devel/list_of_all_modules.html$" "/ansible/devel/modules/list_of_all_modules.html"

# Networking Guide

RedirectMatch permanent "^/ansible/devel/network_best_practices_2.5.html$" "/ansible/devel/networking_guide/network_best_practices_2.5.html"
RedirectMatch permanent "^/ansible/devel/network_debug_troubleshooting.html$" "/ansible/devel/networking_guide/network_debug_troubleshooting.html"
RedirectMatch permanent "^/ansible/devel/network_working_with_command_output.html$" "/ansible/devel/networking_guide/network_working_with_command_output.html"
RedirectMatch permanent "^/ansible/devel/network.html$" "/ansible/devel/networking_guide/network.html"

# Plugins list

RedirectMatch permanent "^/ansible/devel/plugins.html$" "/ansible/devel/plugins/plugins.html"

# Porting Guide

RedirectMatch permanent "^/ansible/devel/porting_guide_2.0.html$" "/ansible/devel/porting_guides/porting_guide_2.0.html"
RedirectMatch permanent "^/ansible/devel/porting_guide_2.3.html$" "/ansible/devel/porting_guides/porting_guide_2.3.html"
RedirectMatch permanent "^/ansible/devel/porting_guide_2.4.html$" "/ansible/devel/porting_guides/porting_guide_2.4.html"
RedirectMatch permanent "^/ansible/devel/porting_guide_2.5.html$" "/ansible/devel/porting_guides/porting_guide_2.5.html"
RedirectMatch permanent "^/ansible/devel/porting_guides.html$" "/ansible/devel/porting_guides/porting_guides.html"

# Reference and Appendices

RedirectMatch permanent "^/ansible/devel/common_return_values.html$" "/ansible/devel/reference_appendices/common_return_values.html"
RedirectMatch permanent "^/ansible/devel/config.html$" "/ansible/devel/reference_appendices/config.html"
RedirectMatch permanent "^/ansible/devel/faq.html$" "/ansible/devel/reference_appendices/faq.html"
RedirectMatch permanent "^/ansible/devel/galaxy.html$" "/ansible/devel/reference_appendices/galaxy.html"
RedirectMatch permanent "^/ansible/devel/glossary.html$" "/ansible/devel/reference_appendices/glossary.html"
RedirectMatch permanent "^/ansible/devel/guide_aci.html$" "/ansible/devel/reference_appendices/guide_aci.html"
RedirectMatch permanent "^/ansible/devel/playbooks_keywords.html$" "/ansible/devel/reference_appendices/playbooks_keywords.html"
RedirectMatch permanent "^/ansible/devel/python_3_support.html$" "/ansible/devel/reference_appendices/python_3_support.html"
RedirectMatch permanent "^/ansible/devel/release_and_maintenance.html$" "/ansible/devel/reference_appendices/release_and_maintenance.html"
RedirectMatch permanent "^/ansible/devel/test_strategies.html$" "/ansible/devel/reference_appendices/test_strategies.html"
RedirectMatch permanent "^/ansible/devel/tower.html$" "/ansible/devel/reference_appendices/tower.html"
RedirectMatch permanent "^/ansible/devel/YAMLSyntax.html$" "/ansible/devel/reference_appendices/YAMLSyntax.html"

# Scenario Guides

RedirectMatch permanent "^/ansible/devel/guide_aws.html$" "/ansible/devel/scenario_guides/guide_aws.html"
RedirectMatch permanent "^/ansible/devel/guide_azure.html$" "/ansible/devel/scenario_guides/guide_azure.html"
RedirectMatch permanent "^/ansible/devel/guide_cloudstack.html$" "/ansible/devel/scenario_guides/guide_cloudstack.html"
RedirectMatch permanent "^/ansible/devel/guide_docker.html$" "/ansible/devel/scenario_guides/guide_docker.html"
RedirectMatch permanent "^/ansible/devel/guide_gce.html$" "/ansible/devel/scenario_guides/guide_gce.html"
RedirectMatch permanent "^/ansible/devel/guide_kubernetes.html$" "/ansible/devel/scenario_guides/guide_kubernetes.html"
RedirectMatch permanent "^/ansible/devel/guide_packet.html$" "/ansible/devel/scenario_guides/guide_packet.html"
RedirectMatch permanent "^/ansible/devel/guide_rax.html$" "/ansible/devel/scenario_guides/guide_rax.html"
RedirectMatch permanent "^/ansible/devel/guide_rolling_upgrade.html$" "/ansible/devel/scenario_guides/guide_rolling_upgrade.html"
RedirectMatch permanent "^/ansible/devel/guide_vagrant.html$" "/ansible/devel/scenario_guides/guide_vagrant.html"
RedirectMatch permanent "^/ansible/devel/guide_vmware.html$" "/ansible/devel/scenario_guides/guide_vmware.html"
RedirectMatch permanent "^/ansible/devel/guides.html$" "/ansible/devel/scenario_guides/guides.html"

