{% extends "_base.html" %} {% block body %}
<section class="container">
  <div class="row-fluid-wrapper row-depth-1 row-number-3">
    <div class="row-fluid">
      <div
        class="span12 widget-span widget-type-rich_text responsive-full"
        data-widget-type="rich_text"
        data-x="0"
        data-w="12">
        <div class="cell-wrapper layout-widget-wrapper">
          <span
            id="hs_cos_wrapper_module_13909805585062238"
            class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
            data-hs-cos-general-type="widget"
            data-hs-cos-type="rich_text">
            <div style="text-align: center">
              <img
                src="static/images/cow.png"
                class="img-fluid align-self-end"
                alt="cowsay404"/>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
