<nav class="navbar navbar-expand-md p-1 docbar">
  <div class="container">
    <!--span class="docbar d-flex justify-content-center">
      <ul class="navbar-nav mx-auto p-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ links.community }}">Join the community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.users }}">Ansible users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.developers }}">Ansible developers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.maintainers }}">Community maintainers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.core }}">Ansible core</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.ecosystem }}">Ansible ecosystem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.platform }}">Red Hat Ansible Automation Platform</a>
        </li>
      </ul>
    </span-->
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#sub-menu"
      aria-controls="sub-menu"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar top"></span>
      <span class="icon-bar center"></span>
      <span class="icon-bar bottom"></span>
    </button>

    <div class="collapse navbar-collapse" id="sub-menu">
      <ul class="navbar-nav mx-auto p-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ links.community }}">Join the community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.users }}">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.developers }}">Developers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.maintainers }}">Maintainers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.core }}">Ansible core</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.ecosystem }}">Ansible ecosystem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ links.platform }}">Red Hat Ansible Automation Platform</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
