<nav class="navbar navbar-expand-md p-1">
  <div class="container">
    <a href="{{ links.index }}">
      <span class="navbar-brand d-flex justify-content-center">
        <svg version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="28"
          height="28"
          viewBox="0 0 28 28"
          style="enable-background: new 0 0 28 28"
          xml:space="preserve"
          class="mr-1">
          <style type="text/css">
            .ansHeader {
              fill: #ffffff;
            }
          </style>
          <circle class="ansHeader" cx="14" cy="14" r="13.5" />
          <path
            d="M20.4,19.3L15,6.4c-0.2-0.4-0.5-0.6-0.8-0.6c-0.4,0-0.7,0.2-0.9,0.6L7.5,20.6h2l2.3-5.8l7,5.6c0.3,0.2,0.5,0.3,0.7,0.3c0.5,0,1-0.4,1-1C20.5,19.6,20.4,19.5,20.4,19.3z M14.2,8.7l3.5,8.6l-5.3-4.1L14.2,8.7z"/>
        </svg>
        Ansible documentation
      </span>
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#main-menu"
      aria-controls="main-menu"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar top"></span>
      <span class="icon-bar center"></span>
      <span class="icon-bar bottom"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://www.ansible.com/products/automation-platform">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.ansible.com/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.ansible.com/community">Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.ansible.com/resources/webinars-training">Webinars and training</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.redhat.com/en/technologies/management/ansible/try-it">Try it now</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
