{% extends "_base.html" %} {% block body %}
<div class="container">
  <div class="full-width-bg component">
    <div class="grid-wrapper">
      <div class="width-3-12 width-12-12-m">
        <img class="page-logo" src="static/images/community_logo.svg">
      </div>
      <div class="width-9-12 width-12-12-m">
        <div class="page-title">
          <h2>{{ pages.community_docs.title }}</h2>
          <p class="feedback">{{ pages.feedback }}</p>
        </div>
      </div>
      <div class="width-12-12 width-12-12-m">
        <p>{{ pages.community_docs.journeys }}</p>
        <a class="btn" href="{{ links.index }}" role="button">{{ pages.index.title }}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
