{% set page_title = pages.controller.tower_zh.title %}
{% extends "_base.html" %}
{% block body %}
<div class="container">
  <div class="full-width-bg component">
    <div class="grid-wrapper">
      <div class="width-3-12 width-12-12-m">
        <img class="page-logo" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--hat-only.svg">
      </div>
      <div class="width-9-12 width-12-12-m">
        <div class="page-title">
          <h2>{{ pages.controller.tower_zh.title }}</h2>
          <p>{{ pages.controller.tower_zh.intro }}</p>
          <p class="feedback">{{ pages.feedback }}</p>
        </div>
      </div>
      <!-- Start Controller Chinese translations. -->
      {% for key, item in controller_i18n_links.tower_zh.items() -%}
      <div class="width-6-12 width-12-12-m">
        <h5>{{ item.heading }}</h5>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          <a class="btn" href="{{ item.quickstart }}" role="button">{{ controller_translations.tower_zh.quickstart }}</a>
          {%- if 'quickinstall' in item %}
          <a class="btn" href="{{ item.quickinstall }}" role="button">{{ controller_translations.tower_zh.quickinstall }}</a>
          {%- endif -%}
          {% if 'installandreference' in item %}
          <a class="btn" href="{{ item.installandreference }}" role="button">{{ controller_translations.tower_zh.installandreference }}</a>
          {% endif -%}
          <a class="btn" href="{{ item.release_notes }}" role="button">{{ controller_translations.tower_zh.release_notes }}</a>
          <a class="btn" href="{{ item.api }}" role="button">{{ controller_translations.tower_zh.api }}</a>
          <a class="btn" href="{{ item.administration }}" role="button">{{ controller_translations.tower_zh.administration }}</a>
          <a class="btn" href="{{ item.userguide }}" role="button">{{ controller_translations.tower_zh.userguide }}</a>
          <a class="btn" href="{{ item.upgrade }}" role="button">{{ controller_translations.tower_zh.upgrade }}</a>
        </div>
      </div>
      {% endfor -%}
      <!-- End Controller Chinese translations. -->
    </div>
  </div>
</div>
{% endblock %}
