{% set page_title = pages.collections.title %}
{% set page_link = links.ansible_community %}
{% extends "_base.html" %} {% block body %}
<div class="container">
  <div class="full-width-bg component">
    <div class="grid-wrapper">
      <div class="width-3-12 width-12-12-m">
        <img class="page-logo" src="{{ base.base_url }}static/images/community_logo.svg">
      </div>
      <div class="width-9-12 width-12-12-m">
        <div class="page-title">
          <h2>{{ pages.collections.title }}</h2>
          <p>{{ pages.collections.intro }}</p>
        </div>
      </div>
      <div class="width-12-12 width-12-12-m">
        <p>{{ collections.redirect }}</p>
        <ul class="fa-ul">
          <li>
            <span class="fa-li"><i class="fas fa-book"></i></span>
            <a href="{{ collections.links.collection_index.link }}" target="_blank">{{ collections.links.collection_index.label }}</a>
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-book"></i></span>
            <a href="{{ collections.links.module_index.link }}" target="_blank">{{ collections.links.module_index.label }}</a>
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-book"></i></span>
            <a href="{{ collections.links.builtin_index.link }}" target="_blank">{{ collections.links.builtin_index.label }}</a>
          </li>
        </ul>
      </div>
      <div class="width-12-12 width-12-12-m">
        <h3>{{ collections.galaxy.title }}</h3>
        <p>{{ collections.galaxy.intro }}&nbsp;<a href="{{ collections.galaxy.search.link }}" target="_blank">{{ collections.galaxy.search.label }}</a></p>
        <p>{{ collections.galaxy.keywords }}</p>
      </div>
      <div class="width-6-12 width-12-12-m">
        <ul class="fa-ul">
          <li>
            <a href="{{ collections.galaxy.links.system.link }}" target="_blank">{{ collections.galaxy.links.system.label}}</a>
          </li>
          <li>
            <a href="{{ collections.galaxy.links.development.link }}" target="_blank">{{ collections.galaxy.links.development.label}}</a>
          </li>
          <li>
            <a href="{{ collections.galaxy.links.networking.link }}" target="_blank">{{ collections.galaxy.links.networking.label}}</a>
          </li>
          <li>
            <a href="{{ collections.galaxy.links.cloud.link }}" target="_blank">{{ collections.galaxy.links.cloud.label}}</a>
          </li>
          <li>
            <a href="{{ collections.galaxy.links.database.link }}" target="_blank">{{ collections.galaxy.links.database.label}}</a>
          </li>
        </ul>
      </div>
      <div class="width-6-12 width-12-12-m">
        <ul class="fa-ul">
          <li>
            <a href="{{ collections.galaxy.links.monitoring.link }}" target="_blank">{{ collections.galaxy.links.monitoring.label}}</a>
          </li>
          <li>
            <a href="{{ collections.galaxy.links.packaging.link }}" target="_blank">{{ collections.galaxy.links.packaging.label}}</a>
          </li>
          <li>
            <a href="{{ collections.galaxy.links.apb.link }}" target="_blank">{{ collections.galaxy.links.apb.label}}</a>
          </li>
          <li>
            <a href="{{ collections.galaxy.links.security.link }}" target="_blank">{{ collections.galaxy.links.security.label}}</a>
          </li>
          <li>
            <a href="{{ collections.galaxy.links.web.link }}" target="_blank">{{ collections.galaxy.links.web.label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
