{% set page_title = pages.collections.title %}
{% set page_link = links.ansible_community %}
{% extends "_base.html" %} {% block body %}
<div class="container">
  <div class="full-width-bg component">
    <div class="grid-wrapper">
      <div class="width-3-12 width-12-12-m">
        <img class="page-logo" src="{{ base.base_url }}static/images/community_logo.svg">
      </div>
      <div class="width-9-12 width-12-12-m">
        <div class="page-title">
          <h2>{{ pages.collections.title }}</h2>
          <p>{{ pages.collections.intro }}</p>
        </div>
      </div>
      <div class="width-12-12 width-12-12-m">
        <p>{{ pages.collections.redirect }}</p>
        <ul class="fa-ul">
          <li>
            <span class="fa-li"><i class="fas fa-book"></i></span>
            <a href="{{ index.quicklinks.collection_index.link }}" target="_blank">{{ index.quicklinks.collection_index.label }}</a>
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-book"></i></span>
            <a href="{{ index.quicklinks.module_index.link }}" target="_blank">{{ index.quicklinks.module_index.label }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}