{% extends "_base.html" %}
{% block body %}
<div class="container">
  <div class="full-width-bg component">
    <div class="grid-wrapper">
      <div class="width-3-12 width-12-12-m">
        <img class="page-logo" src="static/images/community_logo.svg">
      </div>
      <div class="width-9-12 width-12-12-m">
        <div class="page-title">
          <h2>{{ pages.core.title }}</h2>
          <p>{{ pages.core.intro }}</p>
          <p class="feedback">{{ pages.feedback }}</p>
        </div>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ ecosystem.core.name }}</h5>
        <p>{{ ecosystem.core.description }}</p>
        <a class="btn" href="{{ ecosystem.core.docs.home }}" role="button">
          {{ ecosystem.core.name }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ ecosystem.test.name }}</h5>
        <p>{{ ecosystem.test.description }}</p>
        <a class="btn" href="{{ ecosystem.test.docs.home }}" role="button">
          {{ ecosystem.test.name }} documentation
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ pages.core.core_ja.title }}</h5>
        <p>{{ pages.core.core_ja.text }}</p>
        <a class="btn" href="{{ links.core_ja }}" role="button">
          {{ pages.buttons.learn_more }}
        </a>
      </div>
      <div class="width-6-12 width-12-12-m">
        <h5>{{ pages.community.archive.title }}</h5>
        <p>{{ pages.community.archive.intro }}</p>
        <a class="btn" href="{{ links.community_archive }}" role="button">
          {{ pages.buttons.archive }}
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
