{% extends "_base.html" %} {% block body %}
<div class="container">
    <div class="full-width-bg component">
      <div class="grid-wrapper">
        <div class="width-3-12 width-12-12-m">
          <img class="page-logo" src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--hat-only.svg">
        </div>
        <div class="width-9-12 width-12-12-m">
          <div class="page-title">
            <h2>{{ pages.platform.title }}</h2>
            <p>{{ pages.platform.intro }}</p>
            <p class="feedback">{{ pages.feedback }}</p>
          </div>
        </div>
        <!-- Start platform docs. -->
        {% for key, item in platform.items() -%}
        <div class="width-6-12 width-12-12-m">
          <h3>{{ item.name }}</h3>
          <p>{{ item.description }}</p>
          <a class="btn" href="{{ item.docs.link }}" role="button">{{ item.docs.button }}</a>
        </div>
        {% endfor -%}
        <!-- End platform docs. -->
      </div>
    </div>
  </div>
{% endblock %}
