{% extends "_base.html" %} {% block body %}
<div class="container">
  <div class="full-width-bg component">
    <div class="grid-wrapper">
      <div class="width-9-12 width-12-12-m">
        <div class="page-title">
          <h2>{{ pages.users.title }}</h2>
          <p>{{ pages.users.intro }}</p>
          <p class="feedback">{{ pages.feedback }}</p>
        </div>
      </div>
      <!-- Start quicklinks. -->
      <div class="width-3-12 width-12-12-m">
        <div class="quicklinks">
          <h2>{{ pages.quicklinks.title }}</h2>
          <ul class="fa-ul">
            {%- for key, item in users.quicklinks.items() %}
            <li>
              <span class="fa-li"><i class="fas fa-book"></i></span>
              <a href="{{ item.link }}" target="_blank">{{ item.label }}</a>
            </li>
            {%- endfor %}
          </ul>
          <hr />
        </div>
      </div>
      <!-- End quicklinks. -->
      <!-- Start user journey. -->
      {% for key, value in users.milestones.items() -%}
      <div class="width-6-12 width-12-12-m">
        <h3>{{ value.title }}</h3>
        <div class="btn-group-vertical" role="group" aria-label="{{ pages.labels.button_group }}">
          {%- for action_key, action_value in value.actions.items() %}
          <a class="btn" href="{{ action_value.link }}" role="button">{{ action_value.label }}</a>
          {%- endfor %}
        </div>
      </div>
      {% endfor -%}
      <!-- End user journey. -->
    </div>
  </div>
</div>
{% endblock %}
