body {
    background-color: #848992;
    margin: 0;
}

.DocSite {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.DocSite-globalNav {
    display: none;
}


.DocSite-footerNav {
    display: block;
	margin-bottom: 40px;
}


	
.ansibleNav {
	background: #000;
	padding: 0px 60px;
	width: auto;
	border-bottom: 1px solid #444;
	font-size: 14px;
}

.ansibleNav ul {
	list-style: none;
	padding-left: 0px;
	margin-top: 0px;
}

	
.ansibleNav ul li{
	padding: 13px;
	border-bottom: 1px solid #444;
}

.ansibleNav ul li:last-child{
	border: none;
}

.ansibleNav ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 8px 13px;
}
.ansibleNav ul li a:hover {
	color: #5bbdbf;
}

.DocSite-nav {
    flex: initial;
    -webkit-flex: initial;
    width: calc(100% - 30px);
    margin-bottom: 20px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    padding: 15px;
    background-color: #161b1f;
    text-decoration: none;
}

.DocSiteNav-logo {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.DocSiteNav-title {
    color: #fff;
    font-size: 20px;
    margin-top: -1px;
}

.DocSiteNav-return {
    font-size: 13px;
    color: #fff;
    font-style: none;
    margin-left: auto;
    text-align: right;
    text-decoration: none;
}

.DocSiteNav-return:hover {
    color: #5bbdbf;
}

.DocSiteProduct-header {
    flex: 1;
    -webkit-flex: 1;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-weight: 300;
}

.DocSiteProduct-header:active,
.DocSiteProduct-header:focus {
    color: #fff;
}

.DocSiteProduct-header:visited {
    color: #fff;
}

.DocSiteProduct-header--core {
    background-color: #5bbdbf;
    border: 2px solid #5bbdbf;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
}

.DocSiteProduct-header--tower {
    background-color: #ff5850;
    border: 2px solid #ff5850;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
}

.DocSiteProduct-headerAlign {
    width: 100%;
}

.DocSiteProduct-logo {
    width: 60px;
    height: 60px;
    margin-bottom: -9px;
}

.DocSiteProduct-logoText {
    margin-top: 6px;
    padding-bottom: 20px;
    color: #fff;
}

.DocSiteProduct-productName {
    max-width: 100%;
    word-break: normal;
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    display: flex;
    display: -webkit-flex;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 0px;
    color: #161b1f;
}

.DocSiteProduct-blurb {
    font-size: 18px;
    padding-bottom: 20px;
    color: #f2f2f2;
    text-decoration: none;
    max-width: 100%;
    word-wrap: break-word;
}

.DocSiteProduct-linkContainer {
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    color: #848992;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-self: flex-start;
    -webkit-align-self: flex-start;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0px;
}

.DocSiteProduct-linkContainer--tower {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	margin-bottom: 0px;
}

.DocSiteProduct-linkContainer--core {
    align-self: stretch;
    -webkit-align-self: stretch;
}

.DocSiteProduct-linkContainer--tower {
    padding-top: 30px;
}

.DocSiteProduct-linkSpacer {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #161b1f;
}

.DocSiteLink {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.DocSiteLink--noPdf {
    line-height: 56px;
}

.DocSiteLink,
.DocSiteLink-html,
.DocSiteLink-pdf {
    text-decoration: none;
    color: #161b1f;
    font-size: 20px;
}

.DocSiteLink--header {
    font-size: 24px;
    font-weight: 700;
}

.DocSiteLink:hover,
.DocSiteLink-html:hover,
.DocSiteLink-pdf:hover,
.DocSiteLink:focus,
.DocSiteLink-html:focus,
.DocSiteLink-pdf:focus {
    color: #5bbdbf;
}

.DocSiteLink:visited,
.DocSiteLink-html:visited,
.DocSiteLink-pdf:visited {
    color: #1678c4;
}

.DocSiteLink--header:hover,
.DocSiteLink--header:active,
.DocSiteLink--header:focus,
.DocSiteLink--header:visited {
    color: #000;
}

.DocSiteLink--withPdf {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}

.DocSiteLink-html {
    flex: 1;
    -webkit-flex: 1;
}

.DocSiteLink-pdf {
    flex: initial;
    -webkit-flex: initial;
    text-align: right;
}

.DocSiteLink-pdf--html {
    padding-right: 10px;
}

.DocSiteLink-downloadButton {
    width: 35px;
    height: 23px;
    margin-left: 10px;
}

.DocSiteLink-htmlButton {
    width: 35px;
    height: 23px;
    margin-right: 10px;
}

.DocSiteProduct-header--core,
.DocSiteProduct-linkContainer--core {
    margin-right: 10px;
}

.DocSiteProduct-header--tower,
.DocSiteProduct-linkContainer--tower {
    margin-left: 10px;
}

@media screen and (max-width: 1184px) {
    .DocSiteLink-pdf--html {
        display: none;
    }
}

.DocSite-footer {
    text-align: center;
    margin: 0px 20px 40px;
}

@media screen and (min-width: 761px) {
    .DocSite {
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
    }
	
	.DocSite-globalNav{
		display: block
	}
	
	.DocSite-footerNav{
		display: hidden;
	}
	
	.ansibleNav{
		height: 45px;
		width: 100%;
		font-size: 13px;
		padding: 0px 60px 0px 0px;
	}

	.ansibleNav ul {
		float: right;
		display: flex;
		flex-wrap: nowrap;
		margin-top: 13px;
	}
	
		
	.ansibleNav ul li{
		padding: 0px;
		border-bottom: none;
	}
	
	.ansibleNav ul li a {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		padding: 8px 13px;
	}

	.DocSiteProduct-linkContainer--tower {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		margin-bottom: 20px;
	}

    .DocSiteProduct-header--core,
    .DocSiteProduct-linkContainer--core,
    .DocSiteProduct-header--tower,
    .DocSiteProduct-linkContainer--tower {
        max-width: 600px;
    }

    .DocSiteProduct-header--core,
    .DocSiteProduct-linkContainer--core {
        margin-left: 20px;
    }
	
	.DocSite-footer{
		width: 100%;
	}
	
	.DocSite-footerNav{
		display: none;
	}
}

@media screen and (min-width: 992px) {
	.DocSite-globalNav {
		font-size: 14px;
	}
}

@media screen and (min-width: 1350px) {
    .DocSiteProduct-header--core,
    .DocSiteProduct-linkContainer--core {
        margin-left: calc(50% - 654px);
    }
}

@media screen and (max-width: 760px) {

    .DocSiteProduct-linkContainer,
    .DocSiteProduct-header {
        flex: 1 0 auto;
    }

    .DocSite {
        flex-direction: column;
        -webkit-flex-direction: column;
    }

    .DocSiteLink-pdf--html {
        display: block;
    }

    .DocSiteProduct-linkContainer {
        align-self: stretch;
        -webkit-align-self: initial;
    }

    .DocSiteProduct-header--core,
    .DocSiteProduct-linkContainer--core,
    .DocSiteProduct-header--tower,
    .DocSiteProduct-linkContainer--tower {
        margin-right: 20px;
        margin-left: 20px;
    }

    .DocSiteProduct-header--core {
        order: 1;
        -webkit-order: 1;
    }

    .DocSiteProduct-header--tower {
        order: 3;
        -webkit-order: 3;
    }

    .DocSiteProduct-linkContainer--core {
        order: 2;
        -webkit-order: 2;
    }

    .DocSiteProduct-linkContainer--tower {
        order: 4;
        -webkit-order: 4;
    }

    .DocSite-footer {
        order: 5;
        -webkit-order: 5;
    }


}
